img, figure {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    line-height: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li a {
    display: block;
}
.main-sidebar-wrapper .close-sb a{
    color: #999;
}
.main-navbar {
    position: relative;
    background-color: #222;
    color: white;
    z-index: 10;
}

.main-navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
}

.main-navbar-content {
    padding: 4px 16px;
}

.main-content {
    position: relative;
    margin-top: 42px;
    padding: 1em;
}

.section {
    margin: 1em auto;
    margin-bottom: 3em !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon {
    position: relative;
    width: 32px;
    height: 32px;
}

.icon img {
    position: absolute;
    top: 4px;
    left: 4px;
}

.main-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #252525;
    color: white;
    width: 300px;
}
.main-sidebar a:link {
    color: #ffeb3b;
}
.main-sidebar a{
    color: #999;
}
.main-sidebar a:hover, .main-sidebar a:focus{
    text-decoration: none;
} 
.main-sidebar a:hover {
    color: #fff;
}
.main-sidebar a:active {
    color: #ffc107;
}
.main-sidebar .section {
    margin: 1em 0;
    margin-bottom: 2em !important;
}

.main-sidebar-right {
    right: 0;
    text-align: right;
}
.main-sidebar-left {
    left: 0;
    text-align: left;
}

[data-ssbplugin="sbwrapper"] {
    padding: 1em;
}

.dynamic-right .main-navbar-content {
    float: right;
}

.dynamic-left .main-navbar-content {
    float: left;
}

.main-sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}
/*.head-section{
    margin-top: 50px;
}*/
.head-text{
    border: 2px solid gray;
    min-height: 35px;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}
.category-wrapper .nav-tabs li{
    display: inline-block;
    /*float: none;*/
    border: 1px solid gray;
    width: 16.66%;
    /*margin-left: -6px;*/
    margin-top: 5px;
}
.category-wrapper ul{
    border-bottom: none;
    margin-top: 20px;
}

.category-wrapper .nav-tabs > li.active > a{
    border-color: transparent;
}
.category-wrapper .nav-tabs li a:hover{
    border-color: transparent;
    background-color: transparent;
}
.tab-content{
    margin-top: 10px;
}
.tab-content table tbody tr td{
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}
.green-circle{
    background-color: green;
    border: 2px solid #333;
    border-radius: 20px;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -3px;
}
.red-circle{
    background-color: red;
    border: 2px solid #333;
    border-radius: 20px;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -3px;
}
.yellow-circle{
    background-color: #facc2e;
    border: 2px solid #333;
    border-radius: 20px;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -3px;
}
.revenue-title{
    margin-top: 20px;
}
.pie-chart{
    margin-top: 20px;
}
@media (min-width: 1200px){
    .category-wrapper ul li:first-child{
        border-radius: 4px 0 0 4px;
    }
    .category-wrapper ul li:last-child{
        border-radius: 0 4px 4px 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .category-wrapper ul li:first-child{
        border-radius: 4px 0 0 4px;
    }
    .category-wrapper ul li:last-child{
        border-radius: 0 4px 4px 0;
    }
    .category-wrapper .nav-tabs li a{
        padding: 10px 0;
        font-size: 13px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    body.open .category-wrapper .nav-tabs li{
        width: 33.3%;
        border-radius: 4px;
    }
    .category-wrapper .nav-tabs li a{
        padding: 10px 0;
        font-size: 13px;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .category-wrapper .nav-tabs li a{
        padding: 10px 0;
        font-size: 13px;
    }
    .category-wrapper .nav-tabs li{
        width: 32.7%;
        float: none;
        border-radius: 4px;
    }
    .head-text, .revenue-title{
        font-size: 13px;
    }
    .centered-xs{
        margin: 0 auto;
        float: none;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .category-wrapper .nav-tabs li a{
        padding: 7px 0;
        font-size: 12px;
    }
    .category-wrapper .nav-tabs li{
        width: 49.1%;
        float: none;
        border-radius: 4px;
    }
    .tab-content{
        margin-top: 5px;
    }
    .head-text, .revenue-title{
        font-size: 12px;
    }
    .centered-xs{
        margin: 0 auto;
        float: none;
    }
}
